
img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
/*/////////////////////////////////////////////*/
/*/功能类*/
@charset "UTF-8";
.dbg-error {
  color: #ff7966;
  background-color: #868686;
}

.input-show.el-input.is-disabled .el-input__inner {
  background-color: #fff;
  color: #000;
  cursor: auto;
}

.el-form-item.inline-form .el-form-item__content {
  display: inline-block;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.vertical-auto {
  vertical-align: auto;
}

.vertical-baseline {
  vertical-align: baseline;
}

.vertical-bottom {
  vertical-align: bottom;
}

.vertical-middle {
  vertical-align: middle;
}

.vertical-sub {
  vertical-align: sub;
}

.vertical-super {
  vertical-align: super;
}

.vertical-text-bottom {
  vertical-align: text-bottom;
}

.vertical-text-top {
  vertical-align: text-top;
}

.vertical-top {
  vertical-align: top;
}

.tdec-none {
  text-decoration: none;
}

.tdec-underline {
  text-decoration: underline;
}

.tdec-overline {
  text-decoration: overline;
}

.tdec-through {
  text-decoration: line-through;
}

.tdec-blink {
  text-decoration: blink;
}

.inline-block {
  display: inline-block;
}

.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.one-line-wrap > * {
  display: inline-block;
  width: auto;
}

.one-line-wrap.lpatch {
  word-spacing: -1em;
}
.one-line-wrap.lpatch > * {
  word-spacing: 0;
}

.line-clamp {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.no-click {
  pointer-events: none;
}

.cpointer,
.cpointer.el-input.is-disabled .el-input__inner {
  cursor: pointer;
}

.cnot-allowed {
  cursor: not-allowed;
}

.cwait {
  cursor: wait;
}

.tdunderline {
  text-decoration: underline;
}

.vertical-text {
  writing-mode: vertical-lr;
}

.visibil-hid {
  visibility: hidden;
}

/* flex布局 */
.flex-layout,
.flex-layout.el-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
.flex-layout > *,
.flex-layout.el-container > * {
  min-width: 0;
  min-height: 0;
}

.flex-layout.fcol,
.el-container.flex-layout.fcol {
  flex-direction: column;
}
.flex-layout.frow,
.el-container.flex-layout.frow {
  flex-direction: row;
}
.flex-layout.fcol-rev,
.el-container.flex-layout.fcol-rev {
  flex-direction: column-reverse;
}
.flex-layout.frow-rev,
.el-container.flex-layout.frow-rev {
  flex-direction: row-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-auto {
  flex: auto;
  flex: 1 1 auto;
}

.flex-none {
  flex: none;
  flex: 0 0 auto;
}

.flex-mean {
  flex: 1 1 100%;
}

/*轴线方向*/
.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

/* 正交方向 */
.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.align-stretch {
  align-items: stretch;
}

.content-start {
  align-content: flex-start;
}

.content-end {
  align-content: flex-end;
}

.content-center {
  align-content: center;
}

.content-between {
  align-content: space-between;
}

.content-around {
  align-content: space-around;
}

.content-stretch {
  align-content: stretch;
}

/*轴线方向*/
.justify-self-start {
  justify-self: start;
}

.justify-self-end {
  justify-self: end;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-stretch {
  justify-self: stretch;
}

/* 正交方向 */
.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-stretch {
  align-self: stretch;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-block {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.abs-full-block {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.gray-filter {
  filter: grayscale(100%);
}

.scroll-x {
  overflow-x: auto;
}

.scroll-y {
  overflow-y: auto;
}

.scroll-all {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.fweight-normal {
  font-weight: normal;
}

.fweight-bold {
  font-weight: bold;
}

.fweight-bolder {
  font-weight: bolder;
}

.fweight-lighter {
  font-weight: lighter;
}

.fweight-100 {
  font-weight: 100;
}

.fweight-200 {
  font-weight: 200;
}

.fweight-300 {
  font-weight: 300;
}

.fweight-400 {
  font-weight: 400;
}

.fweight-500 {
  font-weight: 500;
}

.fweight-600 {
  font-weight: 600;
}

.fweight-700 {
  font-weight: 700;
}

.fweight-800 {
  font-weight: 800;
}

.fweight-900 {
  font-weight: 900;
}

.prelative {
  position: relative;
}

.pabsolute {
  position: absolute;
}

.pfixed {
  position: fixed;
}

.style-wrap {
  display: none;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.aclean {
  color: #000;
}
.aclean:any-link {
  color: #2c3e50;
  text-decoration: none;
}

.el-tree.tree-patch .el-tree-node__content {
  display: flex;
  flex-direction: row;
  height: auto;
  align-items: start;
}
.el-tree.tree-patch .el-tree-node__content > * {
  min-height: 0;
}
.el-tree.tree-patch .el-tree-node__content > .el-tree-node__label {
  margin-left: 5px;
  display: block;
  overflow-y: auto;
  white-space: normal;
  word-break: break-all;
}

.el-tree.tree-child-overflow .el-tree-node > .el-tree-node__children {
  overflow: visible;
}

.el-input.num-patch input[type=number] {
  -moz-appearance: textfield;
}
.el-input.num-patch input::-webkit-outer-spin-button,
.el-input.num-patch input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.el-input-number.num-patch .el-input-number__decrease,
.el-input-number.num-patch .el-input-number__increase {
  display: none;
}
.el-input-number.num-patch input.el-input__inner {
  padding: 0 15px;
}

.mp-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  overflow: hidden;
}
.mp-dot.red {
  background-image: radial-gradient(farthest-corner at 40% 30%, #fbb, #f33, #f00);
}
.mp-dot.red.dark {
  background-image: radial-gradient(farthest-corner at 40% 30%, #f88, #f22, #800);
}
.mp-dot.green {
  background-image: radial-gradient(farthest-corner at 40% 30%, #bfb, #3f3, #0f0);
}
.mp-dot.green.dark {
  background-image: radial-gradient(farthest-corner at 40% 30%, #8f8, #2f2, #080);
}
.mp-dot.blue {
  background-image: radial-gradient(farthest-corner at 40% 30%, #bbf, #33f, #00f);
}
.mp-dot.blue.dark {
  background-image: radial-gradient(farthest-corner at 40% 30%, #88f, #22f, #008);
}
.mp-dot.gray {
  background-image: radial-gradient(farthest-corner at 40% 30%, #bbb, #333, #000);
}
.mp-dot.gray.dark {
  background-image: radial-gradient(farthest-corner at 40% 30%, #888, #222, #000);
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.space-pre {
  white-space: pre;
}

.space-pre-wrap {
  white-space: pre-wrap;
}

.space-pre-line {
  white-space: pre-line;
}

.vhidden {
  visibility: hidden;
}

.display-none {
  display: none;
}

.el-divider.dpatch {
  margin: 0;
}

.el-divider--vertical.full {
  height: 100%;
}

.height-auto {
  height: auto;
}

.bg-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-contain {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.obj-fill {
  object-fit: fill;
}

.obj-contain {
  object-fit: contain;
}

.obj-cover {
  object-fit: cover;
}

.obj-none {
  object-fit: none;
}

.obj-scale-down {
  object-fit: scale-down;
}

.obj-center,
.obj-fill.center,
.obj-contain.center,
.obj-cover.center,
.obj-none.center,
.obj-scale-down.center {
  object-position: 50% 50%;
}

.el-tabs.flex-tabs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
.el-tabs.flex-tabs > :first-child {
  flex: none;
  flex: 0 0 auto;
}
.el-tabs.flex-tabs > :last-child {
  flex: auto;
  flex: 1 1 auto;
}
.el-tabs.flex-tabs .el-tab-pane {
  width: 100%;
  height: 100%;
}

.form-flex.el-form-item, .form-flex .el-form-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
.form-flex.el-form-item > *, .form-flex .el-form-item > * {
  min-width: 0;
  min-height: 0;
}
.form-flex.el-form-item .el-form-item__label, .form-flex .el-form-item .el-form-item__label {
  float: none;
  flex: none;
  flex: 0 0 auto;
}
.form-flex.el-form-item .el-form-item__content, .form-flex .el-form-item .el-form-item__content {
  flex: auto;
  flex: 1 1 auto;
  margin-left: 0 !important;
}

.margin-bottom-0,
.el-form-item.margin-bottom-0 {
  margin-bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.display-block {
  display: block;
}

.display-in {
  display: inline-block;
}

.w300, .w300.el-input, .w300.el-input-number {
  width: 300px;
}

.w400, .w400.el-input, .w400.el-input-number {
  width: 400px;
}

.w200, .w200.el-input, .w200.el-input-number {
  width: 200px;
}

.w100, .w100.el-input, .w100.el-input-number {
  width: 100px;
}

.w150, .w150.el-input, .w150.el-input-number {
  width: 150px;
}

.pf-border {
  border: 1px solid #ccc;
}

.pf-border-bottom {
  border-bottom: 1px solid #ccc;
}

.pf-border-top {
  border-top: 1px solid #ccc;
}

.pf-border-left {
  border-left: 1px solid #ccc;
}

.pf-border-right {
  border-right: 1px solid #ccc;
}

.margin-auto {
  margin: 0 auto;
}

/*# sourceMappingURL=util.css.map */

